* {
  font-family: cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

nav {
  background-color: #333;
  color: white;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 30px;
}

.middle-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.search-bar {
  flex: 1;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}


.right-section ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.right-section ul li {
  cursor: pointer;
  font-size: 18px;
}


main {
  display: flex;
  gap: 40px;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.left-top img {
  width: 100%;
  border-radius: 15px;
}

.left-bottom {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.left-bottom img {
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
}

.main-right {
  flex: 1;
  background-color: white;
  padding: 25px 35px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 300px;
}

.main-right h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.main-right .title {
  margin-bottom: 10px;
}

.main-right .prices {
  font-size: 18px;
}

.main-right .price {
  font-weight: bold;
  margin-right: 10px;
}

.main-right .orignial-price {
  color: #888;
  text-decoration: line-through;
  margin-right: 10px;
}

.main-right .description {
  margin: 20px 0;
  color: #555;
  line-height: 1.6;
  font-size: 16px;
}

.rated {
  color: #555;
  margin-left: 10px;
}

.rating {
  margin-bottom: 20px;
}

.btn {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.quantity {
  padding: 10px;
  width: 50px;
  height: 20px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.offer {
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.offer h2 {
  font-size: 20px;
}

.offer p {
  font-size: 14px;
  color: #555;
}

.offer .sign-up-button {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #1e293b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}